.app-container {
  min-height: 100vh;
}

.main-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.content-container {
  flex-grow: 1;
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #4b5563;
}
