.about-container {
  align-items: center;
  margin-top: calc(var(--header-height) + 2rem);
}
.about-description {
  padding: 0 4rem 0 0;
  margin-bottom: var(--mb-1);
}

.highlight-text {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

/* ---- BREAKPOINTS ---- */
/* For large devices */
@media screen and (max-width: 992px) {
  .about-container {
    grid-template-columns: (2, 1fr);
    row-gap: 2.5rem;
  }
  .about-description {
    text-align: left;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}
/* For medium devices */
@media screen and (max-width: 576px) {
  .about-description {
    padding: 0;
  }
}
