/* General Styles */
.account-page {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  margin-top: 6rem;
}

/* Sidebar Styles */
.sidebar {
  width: 280px;
  background-color: #fff;
  padding: 20px;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.welcome {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar-button {
  width: 100%;
  padding: 12px;
  text-align: left;
  background-color: #ecd0ec;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
  border-radius: 6px;
}

.sidebar-button:hover,
.sidebar-button.active {
  background-color: #c994c9;
  color: #333;
}

/* Content Section */
.content {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.content-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%;
}

/* Account Details */
.content-card h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.content-card p {
  font-size: 16px;
  color: #555;
}

/* Wallet Section */
.wallet p {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

/* Wishlist & Orders Section */
.wishlist.container,
.orders.container {
  margin-top: 15px;
}

.wishlist.container h2,
.orders.container h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .account-page {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 15px;
    box-shadow: none;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .sidebar ul {
    display: flex;
    gap:20px;
  }

  .sidebar-button {
    width: auto;
    padding: 10px;
  }

  .content {
    padding: 20px;
  }

  .content-card {
    padding: 15px;
  }
}

.user-detail {
  
  
  padding: 20px;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  
  transition: transform 0.2s ease-in-out;
}

.user-detail:hover {
  transform: scale(1.02);
}

.user-name {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

/* User Info */
.user-info {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

.user-info a {
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
}

.user-info a:hover {
  text-decoration: underline;
}

