.custom-box-container {
    max-width: 400px;
    margin: 110px auto;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .custom-box-container h2 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .custom-box-container form {
    display: flex;
    flex-direction: column;
  }
  
  .custom-box-container label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .custom-box-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .custom-box-container button {
    background: #ecd0ec;
    color: #121212;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .custom-box-container button:hover {
    background: #e7b2e7;
  }
  