.hero-section {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  margin-top: calc(var(--header-height) + 2rem);
  overflow: hidden;
}

.hero-slide-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
