.reset-container {
    max-width: 400px;
    margin: 95px auto;
    text-align: center;
    padding: 20px;
  }
  
  .reset-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .reset-subtext {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .reset-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .reset-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .reset-button {
    background-color: #ecd0ec; /* Dark red button */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .reset-button:hover {
    background-color: #5e1429;
  }
  
  .reset-cancel {
    background: none;
    border: none;
    color: #7c1c37;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .reset-cancel:hover {
    text-decoration: underline;
  }
  
  .reset-message {
    margin-top: 10px;
    color: green;
    font-size: 14px;
  }
  