/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
  overflow-y: auto;
}

.modal-content {
  background-color: white;
  padding: 30px 20px 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 90vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-x: auto;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: var(--normal-font-size);
  padding: 5px;
  z-index: 10;
}

.close-btn:hover {
  background-color: rgb(68, 61, 61);
  border-radius: 50%;
}

.size-chart table {
  width: 100%;
  border-collapse: collapse;
  /* table-layout: fixed; */
  margin-top: 20px;

  white-space: nowrap;

}


.size-chart th,
.size-chart td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.size-chart th {
  background-color: #f4f4f4;
}

.size-chart-btn {
  text-decoration: underline;
  background-color: transparent;
  color: var(--title-color);
  cursor: pointer;
  font-size: 16px;
}

.size-chart-btn:hover {
  color: var(--title-color-dark);
}


.size-chart table {
  width: 100%;
  min-width: 500px; /* Ensure table is not too small */
  border-collapse: collapse;
  margin-top: 20px;
  white-space: nowrap;
}

