/* Wishlist Page Styles */
.wishlist.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
}

.wishlist h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.wishlist p {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.wishlist.container .wishlist-stack {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.wishlist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  transition: transform 0.2s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wishlist-item:hover {
  transform: scale(1.02);
}

.wishlist-product img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.wishlist-item-small {
  flex-direction: column;
  text-align: center;
}

.wishlist-product {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 15px;
}

.wishlist-product h3 {
  font-size: 18px;
  color: #333;
  margin: 0;
}

.wishlist-item .wishlist-add-to-cart {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.wishlist-item .wishlist-add-to-cart{
  background: #ecd0ec;
  color:#333;
  margin-right: 10px;
}

.wishlist-item .wishlist-add-to-cart:hover {
  background: #e4b4e4;
}

.wishlist-item .wishlist-remove {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

 .wishlist-item .wishlist-remove{
  background: #ffd3de;
  color: #333;
}

.wishlist-item .wishlist-remove:hover {
  background: #f4cbd5;
}

@media (max-width: 768px) {
  .wishlist-item {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .wishlist-product {
    flex-direction: column;
  }

  .wishlist-product img {
    width: 100%;
    height: auto;
  }
}
